@page
@{
}

<div class="text-center">
  <form action="">
    <label for="Id" class="form-label">Id:</label>
    <input type="text" class="form-control" id="Id" name="Id" placeholder="Id">
    <label for="Oringen" class="form-label"> de origen:</label>
    <input type="text" class="form-control" id="Origen" name="Origen" placeholder="Origen">
    <label for="Destino" class="form-label">Aeropuesto de destino:</label>
    <input type="text" class="form-control" id="Destino" name="Destino" placeholder="Destino">
    <label for="TiempoEstimado" class="form-label">Tiempo del vuelo Estimado:</label>
    <input type="number" class="form-control" id="TiempoEstimado" name="TiempoEstimado" placeholder="TiempoEstimado">

    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>