@page
@model IndexModel
@{
   
}


<div class="text-center">
    <h1 style="color: white;">Proyecto Aeropuerto MinTic</h1>
<p style="color: white;">Grupo 8</p>
</div>
<link rel="stylesheet" href="~/css/index.css"/>


<div>

    
</div>
   


