@page
@model IndexModel
@{
   
}
 <link rel="stylesheet" href="~/css/breadcrumb.css"/>
 <script src="~/js/breadcrumb.js" asp-append-version="true"></script>
  <div id="orangeUI">
    
    <div class="breadcrumbs">
        <ul>
            <li><a href="/Index" class="current">Home</a><div class="bread-shadow">Home</div></li>
          
        </ul>
    </div> 
   


<div class="text-center">
    <h1 style="color: black;">Proyecto Aeropuerto MinTic</h1>
<p style="color: black;">Grupo 8</p>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="..." id="imagen1">
    </div>



</div>
<link rel="stylesheet" href="~/css/index.css"/>
<link rel="stylesheet" href="~/css/breadcrumb.css"/>
<script src="~/js/breadcrumb.js" asp-append-version="true"></script>

<div>

    
</div>
   


