body {
 
  max-height: 100%;
  height: 600px;
  background-image: url("https://images.pexels.com/photos/2088203/pexels-photo-2088203.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-2088203.jpg&fm=jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  
}

/***** Wrapper *****/
 
.wrapper {
  display: block;
}

/***** Sidebar *****/

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -255px;
  z-index: 999;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/198/143/738/abstract-simple-texture-blue-wallpaper-preview.jpg");
 
  color: #fff;
  transition: all .3s;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
  text-align: left;
}

.sidebar.active {
  left: 0;
}

/***** Content *****/

.content {
  width: 100%;
  transition: all 0.3s;
}
.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(5, 9, 12, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

.open-menu {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 997;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.87);
}

.open-menu.btn-customized,
.open-menu.btn-customized:hover, 
.open-menu.btn-customized:active, 
.open-menu.btn-customized:focus, 
.open-menu.btn-customized:active:focus, 
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

/* Style for all buttons with the class btn-customized */

a.btn-customized {
  margin-left: 5px;
  margin-right: 5px;
  padding: .75rem 1.5rem;
  background: #007aaa;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  box-shadow: none;

}

a.btn-customized:hover, 
a.btn-customized:active, 
a.btn-customized:focus, 
a.btn-customized:active:focus, 
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #071c7a; /* for browsers that don't recognize rgba */
  background: rgba(17, 154, 179, 0.7);
  border: 0;
  color: rgb(3, 0, 0);
  box-shadow: none;
}

.dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all .3s;
  background: rgba(12, 147, 156, 0.822);
  border-radius: 4px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
  background: #07466b;
  color: #fff;
}

.sidebar .logo {
  padding: 40px 20px;
  border-bottom: 1px solid #444;
  transition: all .3s;
}

.sidebar .logo a {
  display: inline-block;
  width: 172px;
  height: 34px;
  background: url(../img/logo.png) left top no-repeat;
  border: 0;
  text-indent: -999999px;
}

.sidebar ul.menu-elements {
  padding: 10px 0;
  border-bottom: 1px solid rgb(121, 121, 121);
  transition: all .3s;
}

.sidebar ul li a {
  display: block;
  padding: 10px 20px;
  border: 0;
  color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
  outline: 0;
  background: rgba(56, 172, 187, 0.377);
   color: rgb(255, 255, 255);
}

.sidebar ul li a i {
  margin-right: 5px;
}

.sidebar ul li.active > a,
a[aria-expanded="true"] {
  background: rgba(28, 173, 179, 0.637);
  color: #fff;
}

.sidebar ul ul a {
  background: rgba(34, 133, 133, 0.363);
  padding-left: 30px;
  font-size: 14px;
}

.sidebar ul ul li.active > a {
  background: #555;
}

.sidebar a[data-toggle="collapse"] {
  position: relative;
}

.sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sidebar .dark-light-buttons {
  padding: 10px 20px 30px 20px;
  text-align: center;
}

a.btn-customized-4 {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 3px;
  padding: 0;
  background: #444;
  border: 0;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  box-shadow: none;
  text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark {
  background: #222;
}

a.btn-customized-4.btn-customized-light {
  background: #fff;
}

a.btn-customized-4.btn-customized-dark:hover, 
a.btn-customized-4.btn-customized-dark:active, 
a.btn-customized-4.btn-customized-dark:focus, 
a.btn-customized-4.btn-customized-dark:active:focus, 
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: rgb(146, 146, 146);
  border: 0;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover, 
a.btn-customized-4.btn-customized-light:active, 
a.btn-customized-4.btn-customized-light:focus, 
a.btn-customized-4.btn-customized-light:active:focus, 
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: rgb(255, 255, 255);
  border: 0;
  color: #fff;
  box-shadow: none;
}

* {
  margin: 0px auto;
  text-align:center;
  padding: 0px;
  list-style: none;
  font-family: 'Open Sans';
}

.cont_principal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(212,228,239);
background: -moz-linear-gradient(top,  rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -webkit-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
background: linear-gradient(to bottom,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 );

} 

.cont_breadcrumbs {
  width: 350px;
}

.cont_breadcrumbs_1 {
  position: relative;
  width: 100%;
  float: left;
  margin: 20px;

}

.cont_breadcrumbs_1 > ul > li {
  position: relative;
  float: left;
  transform: skewX(-15deg);  
  background-color: #fff;
box-shadow: -2px 0px 20px -6px rgba(0,0,0,0.5);
z-index: 1;
  width: 70px;
  margin-left: -50px;
transition: all 0.5s;
}

.cont_breadcrumbs_1 > ul > li  > a {
  display: block;
  padding: 10px;
  font-size: 20px;
 transform: skewX(15deg);
 text-decoration:none;
 color: #444;
font-weight: 300;
}
.cont_breadcrumbs_1 > ul > li:first-child {
 margin-left: 0px;
}
.cont_breadcrumbs_1 > ul > li:hover {
 background-color: #CFD8DC;
}

.cont_breadcrumbs_1 > ul > li:last-child {
  background-color: #78909C;
}

.cont_breadcrumbs_1 > ul > li:last-child > a {
  color: #fff;;
}


.cont_breadcrumbs_1 > ul:hover > li {
  margin-left: 0px;
}
 

.cont_breadcrumbs_2 {
  position: relative;
  width: 100%;
  float: left;
  margin: 20px 20px;
}

.cont_breadcrumbs_2 > ul > li {
  position: relative;
  float: left;
  transform: skewX(-15deg);  
  background-color: #fff;
box-shadow: -2px 0px 20px -6px rgba(0,0,0,0.5);
z-index: 1;
transition: all 0.5s;
}

.cont_breadcrumbs_2 > ul > li:hover {
 background-color: #CFD8DC;
}

.cont_breadcrumbs_2 > ul > li  > a {
  display: block;
  padding: 10px;
  font-size: 20px;
 transform: skewX(15deg);
 text-decoration:none;
 color: #444;
font-weight: 300;
}
.cont_breadcrumbs_2 > ul > li:last-child {
  background-color: #78909C;
  transform: skew(0deg);
margin-left: -5px;

}

.cont_breadcrumbs_2 > ul > li:last-child > a {
  color: #fff;
 transform: skewX(0deg);
}
 
